:root {
    --yellow: #eaca44;
    --brown: #4f3923;
    --black: #000;
    --white: #f4f3f3;
    --gray: #737373;
    --lightgray: #c7c7c7;
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--brown);
    font-family: 'Lilita One', sans-serif;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-y: hidden;
    min-height: 100vh;
}

.container {
    height: 75vh;
    width: 20vw;

    background-color: var(--yellow);
    box-shadow: 0 35px 0 0 var(--black);
    border-radius: 25px;

    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.donut-button {
    position: inherit;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 65px;
    height: 65px;
    border: 0px solid transparent;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.donut-button:hover {
    background-color: rgba(128, 128, 128, 0.45);
}


.donut-button img {
    width: 50px;
    height: 50px;
    margin: -20.5px;
}


.list {
    height: 60vh;
    width: 18vw;
    margin-bottom: 20px;

    background-color: var(--lightgray);
    border-radius: 25px;

    position: inherit;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    overflow-y: scroll;
    scrollbar-color: var(--gray) transparent
}

.donut-card {
    height: 125px;
    width: auto;
    margin-bottom: 20px;

    background-color: var(--white);
    border-radius: 27px;
    font-size: medium;
}

.donut-card-contents {
    width: calc(100% - 20px);
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.donut-card-contents img {
    margin-right: 25px;
}

.donut-card-contents p {
    font-size: larger;
    color: var(--brown);
    margin-left: -10px;
}

.donut-popup-bg {
    margin: 0; 
    padding: 0;

    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.582); 
    
    position: absolute;
    z-index: 9;
}

.donut-popup {
    margin: 0; 
    padding: 0; 
    background-color: var(--yellow); 
    position: absolute; 
    
    bottom: 57.5%; 
    left: 50%; 
    transform: translate(-50%, 50%);
    z-index: 10;
    
    width: 27.5vw; 
    height: 38vh;

    border-radius: 25px;
    box-shadow: 0 25px 0 0 var(--black);
}

.close-button {
    width: 35px;
    height: 35px; 
    
    position: inherit; 
    right: 0; 
    
    margin-right: 12px; 
    margin-top: 12px; 
    
    border-color: transparent;
    border-radius: 50%;
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Lilita One', sans-serif;
    cursor: pointer;
}

.close-button:hover {
    background-color: var(--white);
    color: var(--brown);
}

.donut-form {
    display: flex; 
    flex-direction: column; 
    margin: 30px 30px;
    margin-top: 15px;
}

.donut-form p {
    color: var(--brown);
    font-size: larger;
}

.donut-form input {
    margin-top: -12px; 
    height: 45px; 
    border-radius: 20px;
    border-color: transparent;
    font-size: larger;
}

input[type="text"] {
    font-family: 'Lilita One', sans-serif;
    color: var(--gray);
}

input[type="submit"] {
    margin-top: 15px; 
    height: 45px; 
    border-radius: 50px; 
    text-transform: uppercase;
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Lilita One', sans-serif;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--brown);
}
